[tool.poetry]
name = "anaplan-sdk"
version = "0.1.12"
description = "Provides pythonic access to the Anaplan API"
license = "Apache-2.0"
authors = ["Vinzenz Klass <vinzenz.klass@ba.valantic.com>"]
readme = "README.md"
homepage = "https://vinzenzklass.github.io/anaplan-sdk/"
repository = "https://github.com/VinzenzKlass/anaplan-sdk"
documentation = "https://vinzenzklass.github.io/anaplan-sdk/"
keywords = ["anaplan", "anaplan-api", "anaplan-bulk-api", "anaplan integration"]

[tool.poetry.dependencies]
python = ">=3.10.4"
pydantic = ">=2.7.2,<3.0.0"
httpx = ">=0.27.0,<1.0.0"
cryptography = ">=42.0.7,<44.0.0"

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.5"
pre-commit = "^3.8.0"
pytest = "^8.2.1"
pytest-asyncio = ">=0.16,<0.24"
pytest-xdist = "^3.6.1"
mkdocs = "^1.6.0"
mkdocs-material = "^9.5.34"
mkdocstrings = { extras = ["python"], version = "^0.25.1" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

line-length = 100
fix = true
target-version = "py312"

[tool.ruff.format]
skip-magic-trailing-comma = false

[tool.ruff.lint]
select = ["E", "F", "B", "I"]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-ra -q"
pythonpath = "anaplan_sdk/"
testpaths = [
    "tests",
]
