:root, [data-md-color-scheme=default] {
    --md-accent-fg-color: #0075ff;
    --md-accent-fg-color--transparent: #1175ff1F;
    --md-accent-bg-color: #fff;

    --md-primary-fg-color: #000;
    --md-primary-bg-color: #fff;
    --md-code-bg-color: #EDEDED;
    --md-default-fg-color--lightest: #00000030;

    --hljs-comment: #787a87;
    --hljs-keyword: #df41fb;
    --hljs-string: #00ae58;
    --hljs-attr: #abb2bf;
    --hljs-type: #879300;
    --hljs-number: #e16900;
    --hljs-title: #0058d5;
    --hljs-built_in: #06afb8;
}

:root, [data-md-color-scheme=slate] {
    --md-accent-fg-color: #df41fb;
    --md-accent-fg-color--transparent: #df41fb1a;
    --md-accent-bg-color: #fff;

    --md-primary-fg-color: #fff;
    --md-primary-bg-color: #fff;

    --hljs-comment: #5c6370;
    --hljs-keyword: #df41fb;
    --hljs-string: #2fb170;
    --hljs-attr: #abb2bf;
    --hljs-type: #E4B962;
    --hljs-number: #d0864a;
    --hljs-title: #5488e8;
    --hljs-built_in: #2AAFB0;
}

.md-footer-meta {
    background-color: transparent;
}

.hljs-comment, .hljs-quote {
    color: var(--hljs-comment);
    font-weight: 500;
}

.hljs-formula, .hljs-keyword, .hljs-literal {
    color: var(--hljs-keyword);
}

.hljs-addition, .hljs-attribute, .hljs-string, .hljs-regexp, .hljs-string {
    color: var(--hljs-string);
}

.hljs-attr {
    color: var(--hljs-attr);
}

.hljs-type, .hljs-meta {
    color: var(--hljs-type);
}

.hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-variable {
    color: var(--hljs-number);
}

.hljs-bullet, .hljs-link, .hljs-selector-id, .hljs-symbol, .hljs-title, .hljs-class .hljs-title, .hljs-title.class_ {
    color: var(--hljs-title);
}

.hljs-built_in, .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: var(--hljs-built_in);
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-link {
    text-decoration: underline
}

.hljs-sql-text {
    color: var(--md-code-fg-color);
}

#bulk-overview {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
